
.hamburger {
    position: relative;
    overflow: visible;
    cursor: pointer;
    z-index: 7;
    border: 0;

    transition-duration: .4s ease;
    transition-property: opacity, filter, -webkit-filter;
  }
  .hamburger:before {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
  }
  .hamburger .hamburger-box {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 20px;
    vertical-align: middle;
    border-radius: 30px;
  }
  .hamburger .hamburger-inner {
    display: block;
    top: 0;
  }
  .hamburger .hamburger-inner:after,
  .hamburger .hamburger-inner:before {
    content: "";
    display: block;
  }
  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner:after,
  .hamburger .hamburger-inner:before {
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: #151515;
    transition: all 0.4s ease;
    border-radius: 30px;
  }
  .hamburger .hamburger-inner:before {
    width: 20px;
    top: 8px;
    left: 0;
  }
  .hamburger .hamburger-inner:after {
    top: 16px;
    width: 16px;
  }
  .hamburger.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after {
    background-color: #000;
    transition-delay: 0.1s;
  }
  .hamburger.is-active .hamburger-inner:before {
    opacity: 0;
    transition: opacity 0.4s ease 0s;
  }
  .hamburger.is-active .hamburger-inner:after {
    width: 23px;
    transform: translate3d(0, -16px, 0) rotate(-90deg);
  }